/* Web of people 
Rust Activate Mexico City 2017
organized by Rust MX
@QuarryCero
*/

body {
    color: #333;
    text-align: center;
    background: #FFF;
    font-family: sans-serif;
    font-weight: 100;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid lightgrey;
    max-width: 300px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    background-color: grey;
}

#clockdiv {
    display: inline-block;
    font-size: 80px;
    color: #aaa;
}

#clockdiv > div {
    display: inline-block;
    padding: 10px;
}

#clockdiv div > span {
    display: inline-block;
    padding: 15px;
}

.smalltext {
    padding-top: 5px;
    font-size: 28px;
}
